<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zut.mapper.FengcaiMapper">

    <!-- 查询课程全部信息   -->
    <select id="findALlFengCain" resultType="com.zut.entity.Fengcai" parameterType="com.zut.entity.Fengcai">
        SELECT * FROM goodteacher
    </select>
    <!-- 根据id查询风采   -->
    <select id="findById" resultType="com.zut.entity.Fengcai" parameterType="INTEGER">
        select * from goodteacher
        where id = #{id}
    </select>

    <!-- 修改风采内容   -->
    <update id="updateFengcai" parameterType="com.zut.entity.Fengcai">
        update goodteacher
        set content = #{content},tnumber = #{tnumber}, img = #{img},time = #{time}
        where id = #{id}
    </update>

    <!--  根据id进行删除-->
    <delete id="deleteById" parameterType="INTEGER">
        delete from goodteacher
        where id = #{id}
    </delete>
    <!--添加风采页面信息    -->
    <insert id="addFengcai" parameterType="com.zut.entity.Fengcai">
        insert into goodteacher
        set content = #{content},tnumber = #{tnumber}, img = #{img},time = #{time}
    </insert>
</mapper>