<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zut.mapper.IndexMapper">

    <!-- 查询课程全部信息   -->
    <select id="findAll" resultType="com.zut.entity.Indexes" parameterType="INTEGER">
        SELECT * FROM indexes
        where index_type = #{index_type}
    </select>

    <select id="findAllIndex" resultType="com.zut.entity.Indexes">
        SELECT * FROM indexes
    </select>

    <!--    -->

    <!--添加指标内容    -->
    <insert id="insertIndex" parameterType="com.zut.entity.Indexes">
        insert into indexes
        set index_number = #{index_number},index_type = #{index_type},index_name = #{index_name},index_capacity = #{index_capacity}
    </insert>
    <!--根据id进行删除指标库内容  -->
    <delete id="deleteIndex" parameterType="INTEGER">
        delete from indexes
        where index_id = #{index_id}
    </delete>

</mapper>