<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zut.mapper.StudentMapper">
    <select id="findAll" resultType="com.zut.entity.Student">
        SELECT * FROM student
    </select>

    <select id="login" parameterType="com.zut.entity.Student" resultType="com.zut.entity.Student">
        select * from student
        where sname = #{sname}
    </select>

    <select id="findStudentById" parameterType="INTEGER" resultType="com.zut.entity.Student">
        select * from student
            where sid = #{sid}
    </select>

    <update id="saveInfo" parameterType="com.zut.entity.Student">
        update student
            set sname = #{sname},ssex = #{ssex},sdepartment = #{sdepartment},sclass = #{sclass}
            where sid = #{sid}
    </update>

    <select id="findALlDepartment" resultType="com.zut.entity.Student">
        select distinct sdepartment from student
    </select>

    <insert id="addStudent" parameterType="com.zut.entity.Student">
        insert into student
        set snumber = #{snumber},sname=#{sname},ssex = #{ssex},sdepartment = #{sdepartment},sclass= #{sclass},spassword = #{spassword}
    </insert>

    <update id="updateStudent" parameterType="com.zut.entity.Student">
        update student
        set snumber = #{snumber},sname=#{sname},ssex = #{ssex},sdepartment = #{sdepartment},sclass= #{sclass},spassword = #{spassword}
        where sid = #{sid}
    </update>

    <delete id="deleteStudent" parameterType="INTEGER">
        delete from student
        where sid = #{sid}
    </delete>
</mapper>