<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zut.mapper.TFeedbackMapper">
    <!-- 收集反馈信息   -->
    <!--此处使用动态sql来进行插入操作    -->
    <sql id="key">
        <trim suffixOverrides=",">
            <if test="id!=null and id!=''">
                id,
            </if>
            <if test="tnumber!=null and tnumber!=''">
                tnumber,
            </if>
            <if test="tid!=null and tid!=''">
                tid,
            </if>
            <if test="weektime!=null and weektime!=''">
                weektime,
            </if>
            <if test="coursename!=null and coursename!=''">
                coursename,
            </if>
            <if test="teachername!=null and teachername!=''">
                teachername,
            </if>
            <if test="teacher!=null and teacher!=''">
                teacher,
            </if>
            <if test="sclass!=null and sclass!=''">
                sclass,
            </if>
            <if test="liuyan!=null and liuyan!=''">
                liuyan,
            </if>
            <if test="other!=null and other!=''">
                other,
            </if>
            <if test="sumscore!=null and sumscore!=''">
                sumscore,
            </if>
        </trim>
    </sql>

    <!-- 对应的插入字段的值 -->
    <sql id="values">
        <trim suffixOverrides=",">
            <if test="id!=null and id!=''">
                #{id},
            </if>
            <if test="tnumber!=null and tnumber!=''">
                #{tnumber},
            </if>
            <if test="tid!=null and tid!=''">
                #{tid},
            </if>
            <if test="weektime!=null and weektime!=''">
                #{weektime},
            </if>
            <if test="coursename!=null and coursename!=''">
                #{coursename},
            </if>
            <if test="teachername!=null and teachername!=''">
                #{teachername},
            </if>
            <if test="teacher!=null and teacher!=''">
                #{teacher},
            </if>
            <if test="sclass!=null and sclass!=''">
                #{sclass},
            </if>
            <if test="liuyan!=null and liuyan!=''">
                #{liuyan},
            </if>
            <if test="other!=null and other!=''">
                #{other},
            </if>
            <if test="sumscore!=null and sumscore!=''">
                #{sumscore},
            </if>
        </trim>
    </sql>
    <insert id="postTFeedback" parameterType="com.zut.entity.TFeedback">
        insert into tfeedback(<include refid="key"/>)
        values(<include refid="values"/>)
    </insert>

    <!--    -->
    <select id="findAllinfo" resultType="com.zut.entity.TFeedback" parameterType="INTEGER">
        select *
        from tfeedback
        where tid = #{tid}
    </select>
<!--    根据other查询未评价以及姓名查询为评价的信息-->
    <select id="findByOther"  resultType="com.zut.entity.TFeedback">
        select * from tfeedback
            where other = '0' and teacher = #{teacher}
    </select>

    <select id="findInsevenDay" resultType="com.zut.entity.TFeedback">
        SELECT * FROM tfeedback
        where DATE_SUB(CURDATE(), INTERVAL 7 DAY) &lt;= date(weektime) and teacher is not null
    </select>

    <select id="findInsevenDayS" resultType="com.zut.entity.TFeedback">
        SELECT * FROM tfeedback
        where DATE_SUB(CURDATE(), INTERVAL 7 DAY) &lt;= date(weektime) and sclass is not null
    </select>

    <update id="updateTfeedback" parameterType="com.zut.entity.TFeedback">
        update tfeedback
        set tnumber = #{tnumber},tid = #{tid},weektime = #{weektime},
            coursename =#{coursename},teachername=#{teachername},
            sclass=#{sclass},liuyan=#{liuyan},other=1,sumscore=#{sumscore}
        where other = 1 and teacher = #{teacher}
    </update>

<!--    这里是学生的评教信息-->
    <select id="findStudentClassInfo" parameterType="INTEGER"  resultType="java.lang.String">
        SELECT sclass
        FROM student
        where sid = #{sid}
    </select>
<!--    根据班级信息查询是否可以评价-->
    <select id="findTFeedbackInfo" parameterType="java.lang.String" resultType="com.zut.entity.TFeedback">
        SELECT * FROM tfeedback
        where sclass = #{sclass} and other = '0'
    </select>

    <select id="selectByteacnameSumscore" resultType="INTEGER" parameterType="java.lang.String">
        SELECT AVG(sumscore) from tfeedback
        where teachername = #{teachername}
    </select>
    <select id="selectAverageScore" resultType="INTEGER">
        SELECT AVG(sumscore) from tfeedback
    </select>
</mapper>